<section class="bg-white p-5  text-black font-[CG-light]">
    <div class="max-w-4xl mx-auto text-left">
    <h2 class="text-2xl font-[tan-pearl] text-center mb-5 text-black uppercase mt-5">Shipping &amp; Delivery</h2>
    <p>Domestic orders are processed within 1-3 business days of receiving payment. Orders placed on weekends or holidays will be processed on the next business day. Delivery time ranges between 3-5 days after dispatch depending on where you are located. From dispatch to delivery of the shipment usually takes 5-7 day working days. However, due to unforeseen circumstances, it may take a longer time than what it takes usually.</p>
    <p>Shipping charges are calculated at checkout and may vary depending on your location, shipping method, and order size. Free shipping is available for orders above Rs. 3000/-.</p>
    <p class="text-lg"><strong>EXCHANGE, RETURNS AND CANCELLATIONS</strong></p>
    <p><strong>Exchange and Returns</strong></p>
    <p>We accept returns and exchanges within 7 days of the delivery date, subject to successful inspection upon receipt.. Items must be unused, in their original condition, and with all tags and packaging intact. Items that are damaged, worn, or altered will not be eligible for return or exchange.</p>
    <p>Keava Apparels reserves the right to modify or update this Exchange and Return Policy at any time. Changes will be posted on this page, and continued use of our website implies acceptance of the revised policy.</p>
    <p><strong>Refunds<br /></strong>Once we receive and inspect the returned item, we will notify you regarding the approval or rejection of your refund based on the item&rsquo;s condition.</p>
    <p>Approved refunds will be processed within [specify timeframe, e.g., 5-7 business days] to your original method of payment. Please note that processing times may vary depending on your payment provider.</p>
    <p>Original shipping fees are non-refundable.</p>
    <p><strong>Cancellations</strong></p>
    <p>Orders can only be canceled if they have not yet been shipped. Once an order has been shipped, it cannot be cancelled. Please refer to our Returns Policy if you wish to return an item.</p>
    <p>Custom or personalized items are non-cancelable and non-refundable once the order has been placed, as these items are made specifically for you.</p>
    <p>In rare cases, an order may be cancelled by Keava Apparels if the item is out of stock, if there are errors in product or pricing information, or if we are unable to fulfill the order. If this occurs, you will be notified promptly, and a full refund will be issued. We reserve the right to refuse or cancel your order if any fraud or an unauthorized or illegal transaction is suspected.</p>
    <p>Keava Apparels reserves the right to modify or update this Cancellation Policy at any time. Changes will be posted on this page, and continued use of our website implies acceptance of the revised policy.</p>
</div>
</section>

